<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Matic Zagmajster - {{ _("Project") }} Post alert{% block pagetitle %}{% endblock %}</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css"
		  rel="stylesheet" integrity="sha384-D9XILkoivXN+bcvB2kSOowkIvIcBbNdoDQvfBNsxYAIieZbx8/SI4NeUvrRGCpDi"
		  crossorigin="anonymous"
	>
	<link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>
	<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/sl.js"></script>
	{% block stylesarea %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Post alert</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					{% if not g.user.is_authenticated %}
					{% else %}
						<li><a href="{{ url_for('list_posts') }}">{{ _("List posts") }}</a></li>
					{% endif %}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/index.html">{{ _("Presentation") }}</a></li>
					<li><a href="{{ url_for('about') }}">{{ _("About") }}</a></li>
					{% if g.user.is_authenticated %}
						<li><a href="{{ url_for('logout') }}">{{ _("Logout") }}</a></li>
					{% endif %}
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				{% with messages = get_flashed_messages(with_categories=True) %}
					{% for category, message in messages %}
						<div class="alert alert-{{ category }}">{{ message }}</div>
					{% endfor %}
				{% endwith %}
			</div>
		</div>
		{% block content %}{% endblock %}
	</div>

	{% set bottom_cl = '' %}
	{% if g.fixed_bottom %}
		{% set bottom_cl='fixed-' %}
	{% endif %}

	<div class="navbar navbar-default navbar-{{ bottom_cl }}bottom">
		<div class="row">
			<div class="col-xs-12 text-center navbar-text">
				{{ _("&copy; 2017 Matic Zagmajster All rights reserved.") }}
			</div>
		</div>
	</div>
	<!-- JS scripts -->
	<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	{% block scriptarea %}{% endblock %}
</body>
</html>
