{% extends "base.html" %}
{% block pagetitle %}{{ _("Login") }}{% endblock %}
{% block stylesarea %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-xs-push-12 text-center">
			{% if posts_count == 0 %}
				<span class="btn bg-success btn-circle">
					<span class="glyphicon glyphicon-ok"></span>
				</span>
			{% else %}
					<span class="btn bg-danger btn-circle">
						<span class="glyphicon glyphicon-remove"></span>
					</span>
			{% endif %}<br/><br/>
		</div>
	</div>
	<div class="row">
		<div class="text-center col-xs-12">
			{% if posts_count == 0 %}
				<span class="lead">{{ _("No new posts detected :). Come back later!") }}</span>
			{% else %}
				<span class="lead">{{ _("{0} New post(s) detected! Login and check it out!").format(posts_count) }}</span>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-push-3 col-xs-6">
			<form action="{{ url_for('login') }}" method="post">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
				<div class="group">
					{{ form.username }}<span class="highlight"></span><span class="bar"></span>
					{{ form.username.label }}
				</div>
				<div class="group">
					{{ form.password }}<span class="highlight"></span><span class="bar"></span>
					{{ form.password.label }}
				</div>
				{{ form.submit(class='btn btn-block btn-info') }}
			</form>
		</div>
	</div>
{% endblock %}
{% block scriptarea %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
