{% extends "base.html" %}
{% block pagetitle %}Post list{% endblock %}
{% block stylesarea %}
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/p-list.css') }}">
	<link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css">
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-xs-push-1 col-xs-10">
			<fieldset class="well">
				<legend>{{ _("Filters") }}</legend>
				<form action="{{ url_for('list_posts') }}" method="get">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
					<div class="form-group">
						<div class="row">
							<div class="col-xs-5">
								<label for="seen">{{ _("Show: ") }}</label>
							</div>
							<div class="col-xs-3">
								{{ form.seen }} {{ form.seen.label }}
							</div>
							<div class="col-xs-1 text-center"> </div>
							<div class="col-xs-3">
								{{ form.unseen }} {{ form.unseen.label }}
							</div>
						</div>
					</div>
					<div class="form-group">
							<div class="row">
								<div class="col-xs-5">
									<label for="d_form">{{ _("Post creation interval: ") }}</label>
								</div>
								<div class="col-xs-3">
									{{ form.d_from(class='form-control period') }}
								</div>
								<div class="col-xs-1 text-center">-</div>
								<div class="col-xs-3">
									{{ form.d_to(class='form-control period') }}
								</div>
							</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							{{ form.submit(class='btn btn-info pull-right') }}
						</div>
					</div>
				</form>
			</fieldset>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<h3>{{ _("Results") }}</h3>
			<p>
				{{ _("Number of results: ") }}{{ posts | length }}
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-offset-2 col-sm-8">
			<ul class="event-list">
				{% for post in posts %}
					<li style="display: block;">
						<div class="info well">
							<h5>{{ post.post_title }}</h5>
							<span class="text-info"><i>{{ MomentJS(post.created).calendar() }}</i></span>
							<p class="desc">
								{% autoescape false %}
									{{ post.post_content | replace('\n', '<br/>') }}
								{% endautoescape %}
							</p>
						</div>
						<div class="social">
							<ul>
								{% if post.seen is none %}
									<li class="facebook">
										<a href="{{ url_for('mark_as', status='seen', post_id=post.id) }}">
											<span class="glyphicon glyphicon-ok"></span>
										</a>
									</li>
								{% else %}
									<li class="facebook">
										<a href="{{ url_for('mark_as', status='unseen', post_id=post.id) }}">
											<span class="glyphicon glyphicon-remove"></span>
										</a>
									</li>
								{% endif %}
								<li class="facebook">
									<a href="{{ url_for('delete_post', post_id=post.id) }}">
										<span class="glyphicon glyphicon-trash"></span>
									</a>
								</li>
							</ul>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
{% block scriptarea %}
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
	{% include "inc-js-dtp.html" %}
{% endblock %}
